:root{
  --bg-danger:"#e85451";
  --bg-grey:"#f2f2f2";
  --text-white:"#fff";
  --text-dark:"#37474f";
  --font-family:"Poppins,sans-serif";
  --text-weight-lg:900;
  --text-weight-md:700;
  --text-weight-sm:500;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
background-color: var();

}
